@import "tailwindcss";

@theme {
  --color-primary: #ff5252;
  --color-secondary: #000;
  --background-color-primary: #ff5252;
  /* --background-color-secondary: #f0f0f0; */
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  overflow-x: hidden;
}
.container {
  margin: auto;
}
header .top-strip,
.header {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bg-org {
  background-color: #ff5252;
}
.link:hover {
  color: var(--color-primary);
}

.sliderHome {
  overflow: inherit !important;
}
.swiper-pagination-bullet {
  background-color: black !important;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  color: #000;
}

/* .homeCatSlider {
  overflow: inherit !important;
} */
.swiper-button-prev,
.swiper-button-next {
  height: 30px !important;
  width: 30px !important;
  min-width: 30px;
  background-color: white;
  border-radius: 50%;
  transition: all ease-in-out 0.1s;
  &:hover {
    background-color: rgba(254, 56, 56, 0.2);
  }
}
.homeCatSlider .swiper-button-prev svg,
.homeCatSlider .swiper-button-next svg {
  height: 50%;
  width: 50%;
}

.homeCatSlider .swiper-button-prev {
  left: -10px !important;
}
.homeCatSlider .swiper-button-next {
  right: -10px !important;
}

.homeCatSlider .item {
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  height: 30px;
  width: 30px;
  top: 55% !important ;
}
.smlBtn .swiper-button-prev svg,
.smlBtn .swiper-button-next svg {
  height: 55%;
  &:hover {
    color: white;
  }
}

.MuiTabs-indicator {
  background-color: #ff5252 !important;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #ff5252 !important;
}

