@import "tailwindcss";

@theme {
  --color-primary: #ff5252;
  --color-secondary: #000;
  --background-color-primary: #ff5252;
  /* --background-color-secondary: #f0f0f0; */
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  overflow-x: hidden;
}
p {
  line-height: 20px;
  color: rgb(73, 73, 73);
}
.btn-org {
  background-color: #ff5252 !important;
  color: white !important;
  font-weight: 500;
  padding: 7px 20px !important;
  margin: 5px 0 !important;
  &:hover {
    background-color: #000 !important;
  }
}
.btn-lg{
   font-size: 17px !important;
   padding: 7px 20px !important;
}

.container {
  margin: auto;
}
header .top-strip,
.header {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bg-org {
  background-color: #ff5252;
}
.link:hover {
  color: var(--color-primary);
  transition: all 0.2s ease-in-out;
}

/* .sliderHome {
  overflow: inherit !important;
} */
/* .swiper-pagination-bullet {
  background-color: black !important;
} */
.swiper-button-prev svg,
.swiper-button-next svg {
  color: #000;
  height: 50% !important;
  width: 50% !important;
}

/* .homeCatSlider {
  overflow: inherit !important;
} */
.swiper-button-prev,
.swiper-button-next {
  height: 30px !important;
  width: 30px !important;
  min-width: 30px;
  background-color: white;
  border-radius: 50%;
  transition: all ease-in-out 0.1s;
  /* &:hover {
    background-color: rgba(254, 56, 56, 0.7);
  } */
}
.homeCatSlider .swiper-button-prev svg,
.homeCatSlider .swiper-button-next svg {
  height: 50%;
  width: 50%;
}

.homeCatSlider .swiper-button-prev {
  left: -10px !important;
}
.homeCatSlider .swiper-button-next {
  right: -10px !important;
}

.homeCatSlider .item {
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  height: 30px;
  width: 30px;
  top: 55% !important ;
}
.smlBtn .swiper-button-prev svg,
.smlBtn .swiper-button-next svg {
  height: 55%;
  &:hover {
    color: white;
  }
}

.MuiTabs-indicator {
  background-color: #ff5252 !important;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #ff5252 !important;
}

/* Blog slider CSS */
/* .blogSlider{
  overflow: visible !important;
}

.blogSlider .swiper-button-prev,
.blogSlider .swiper-button-next {
  top: 40%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  color: #000;
} */

/* LEFT arrow – cards ke bahar */
/* .blogSlider .swiper-button-prev {
  position: absolute;
  left: -45px !important;
} */

/* RIGHT arrow – cards ke bahar */
/* .blogSlider .swiper-button-next {
  position: absolute;
  right: -45px !important;
} */

/* Footer Form Lable CSS */
.MuiFormControlLabel-label {
  font-size: 14px !important;
}

/* HomeSlider CSS */
.swiper-pagination-bullet-active {
  background: #ff5252 !important;
}
.homeSliderV2 .swiper-slide-active .info {
  right: 0 !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info h4 {
  right: 0 !important;
  opacity: 1;
  transition-duration: 0.8s;
}
.homeSliderV2 .swiper-slide-active .info h2 {
  right: 0 !important;
  opacity: 1;
  transition-duration: 1s;
}
.homeSliderV2 .swiper-slide-active .info h3 {
  right: 0 !important;
  opacity: 1;
  transition-duration: 1.2s;
}
.homeSliderV2 .swiper-slide-active .info .shopNow {
  right: 0 !important;
  opacity: 1;
  transition-duration: 1.4s;
}

/* ====  Styles for shop category on product listing page  ==== */
.MuiCheckbox-root {
  padding: 6px !important;
}

.itemViewActions button.action svg {
  color: #ff5252 !important;
}

/* pagination styles */
.Mui-selected.MuiPaginationItem-page {
  background: #ff5252 !important;
  color: white !important;
}

/* ========  Styles for product Details page  ======== */
/* styles for vertical slider */
.zoomProductSliderThumbs {
  height: 100%;
}

.zoomProductSliderThumbs .swiper-wrapper {
  height: 100%;
}

.zoomProductSliderThumbs .swiper-slide {
  height: auto !important;
  display: flex;
  align-items: center;
}

/* styles for the main image */
/* Force wrapper to take full height */
.productZoomImage,
.productZoomImage .iiz {
  height: 100%;
  width: 100%;
}

.zoomContainer .iiz__btn {
  visibility: hidden;
}

/* Styles for Quantity input on Product Details page */
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* Styles for scroll bar on Product Details page */
.reviewScroll::-webkit-scrollbar{
  width: 5px !important;
}
.reviewScroll::-webkit-scrollbar-thumb{
  background: #ccc !important;
}

/* Styles for Product Details Model */
.productDetailModal .MuiDialogContent-root{
  padding: 10px ;
}

/* styles for Cart Panel */
.cartPanel .MuiPaper-root{
  width: 350px;
}