@import "tailwindcss";

@theme {
  --color-primary: #ff5252;
  --background-color-primary: #ff5252;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
}
.container {
  width: 95%;
  margin: auto;
}
header .top-strip, .header {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* padding: 8px 0; */
}
.bg-org {
  background-color: #ff5252;
}
.link:hover {
  color: var(--color-primary);
}
